<%- model_class = Event -%>
<%= render :partial => '/layouts/top_menu' %>
<div class="container">
<div class="page-header">
  <h1>Welcome!
  <small>Choose an event from the list</small>
  </h1>
</div>
  <div class="row">
            <div class="col-lg-12">
              <div class="bs-example">
                <div class="list-group">
                  <% @events.each do |event| %>
                    <a href="<%= event_path(event) %>" class="list-group-item">
                      <h4 class="list-group-item-heading"><%= event.name.capitalize %></h4>
                      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                  <% end %>
                </div>
              </div>
            </div>
  </div>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_event_path,
              :class => 'btn btn-primary btn-lg btn-block' %>
</div>
