// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	margin-top:70px;
  background-color: #1a4055;
  color: white;
}
input, .popover{
  color: black;
}
.my_icon{
	 font-size:1500%;
	 color: #428bca;
}
.main_view{
	color: black;
}
